* {
  box-sizing: border-box;
  text-align: center;
}
html {
	margin: 0; padding: 0;
}
body {
	font-size: 24px;
	line-height: 32px;
	color: #ffffff;
	margin: 0; padding: 0;
	background-image: url("../images/floating-cogs.svg");
}

#container {
	overflow: hidden;
    width: 100%;
    margin: 0 auto 0 auto;
}

#header {
	width: 100%;
	background-color: #ffffff;
	overflow: hidden;
	border-style: 2px solid none solid none;
	border-bottom-color: #024e0e;
	border-top-color: #024e0e;
	font-family: 'Arial';
	font-size: 18px;
	color: #777777;
}
aside {
	float: left;
	width: 30%;
	margin-left: 100px;
	padding: 10px;
	background-color: #024e0e;
	color: #ffffff;
	text-align: center;
	font-family: 'Georgia';
	font-size: 28px;
}
nav {
	font-family: 'Arial';
	font-size: 12px;
	color: #777777;
}
.TextWrap {
	float: left;
	margin: 10px;
}
#section-left {
	float: left;
	background-color: #ffffff;
	overflow: auto;
	width: 650px;
	height: 525px;
	margin-left: 100px; 
	margin-top: 25px;
	margin-bottom: 25px;
	margin-bottom: 20px;
	border: 2px solid #64123a;
}
h2 {
	font-family: "Georgia";
	float: top;
	text-align: left;
	font-size: 26px;
	border-style: none none solid none;
	border-bottom-color: #cccccc;
	color: #024e0e;
	background-color: #ffffff;
	margin: 25px;
}
p {
	text-align: left;
	float;left;
	font-family: 'Arial';
	font-size: 12px;
	color: #777777;
	margin-left: 15px;
	margin-right: 15px;
}
button {
	background-color: #4aaaa5;
	color: #ffffff;
	font-size: 14px;
	font-family: 'Arial';
	padding: 20px;
	text-align: left;
	float: left;
}
#section-right {
	float: left;
	overflow: auto;
	width: 270px;
	margin-left: 20px;
	margin-top: 25px;
	height: 150px;
	background-color: #ffffff;
	border: 2px solid #64123a;
}
h3 {
	font-family: "Georgia";
	border-style: none none solid none;
	border-bottom-color: #cccccc;
	color: #024e0e;
	font-size: 18px;
	text-align: center;
}
div {
	text-align: center;
}
footer {
	background-color: #383838;
	padding: 20px;
	clear: both;
	font-family: "Arial";
	font-size: 10px;
	color: #ffffff;
	border-style: solid none none none;
	border-top-color: #024e0e;
	border-width: 8px;
}